* {
  font-family: "Arial";
}

.container {
  background: bisque;
}

.header {
  width: 100%;
}

.example-container {
  border: 8px solid red;
  height: 50vh;
  position: relative;
}

.example-container > .absolute-container {
  position: absolute;
  bottom: 0;
  background: #0000008c;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.example-container > .absolute-container > h2 {
  line-break: normal;
  font-size: 3rem;
  color: #fe6a6a;
  mix-blend-mode: difference;
  margin: 0;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
